#container {
width: 100vw;
   columns: 4;
   column-gap: 20px;
   break-inside: avoid;
   margin: 20px auto;

}
#videoContainer {
    display: flex;
    position: relative;
    padding: 0px;
    flex-direction: column;
    scroll-snap-type: y mandatory;
    height: 100vh;
    overflow: scroll;
}

html{
    scroll-snap-type: y mandatory;
}
#container{
    padding: 20px;
}
#container .box {
    width: 100%;
    margin-bottom: 10px;
  
}

.postVideoLg{
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}
#container video{
    border-radius: 10px;
}

#container img{
    min-width: 100%;
    max-width: 100%;
    border-radius: 10px;
    margin: auto;
}

.postVideoMd{
    height: 200px;
    border-radius: 10px;
}
.postLarge{
    height: 300px;
    width: 200px;
    border-radius: 10px;
    object-fit: cover;
}
.postMedium{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
}
.postSmall{
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
}


.videoPlayer{
    width: 100vw;
    height: 100%;
   
    scroll-snap-align: start;
   
}
.videoPlayer video {
    height: 100vh;
    padding: 0px;
    z-index: 1;
    
    object-fit: cover;
    border: 2px solid white;
}

@media only screen and (max-width: 800px) {
    #container {
        columns:2;
    }
    .postVideoLg{
        height: 300px;
    }
  
 
}


