

#postUser img{
    height: 60px;
    width: 60px;
    border-radius: 20px;
    object-fit: cover;
   
}

#postUser{
    align-items: center;
    justify-content: left;
    padding-bottom: 20px;
    position: relative;
    
}
.postPage{
    gap: 20px;
   
  
}

.postLike{
    position: relative;
    left: 65vw;
    bottom: 60px;
    cursor: pointer;
}


.postImage{
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    border: 2px solid black;
    box-sizing: border-box;
}

#postCardContent{
    padding: 10px;
}

@media only screen and (min-width: 800px) {
    .postLike{
        position: relative;
        left: 85%;
        bottom: 60px;
        cursor: pointer;
    }
 }